/.idea/
/g33-inheritanc-eexercise-4/.idea/
/g33-inheritanc-eexercise-4/target/
/g33-inheritanc-eexercise-4/*.iml


/g33-inheritance-exercise-1/.idea/
/g33-inheritance-exercise-1/target/
/g33-inheritance-exercise-1/*.iml

/g33-inheritance-exercise-2/.idea/
/g33-inheritance-exercise-2/target/
/g33-inheritance-exercise-2/*.iml
/g33-inheritance-exercise-3/.idea/
/g33-inheritance-exercise-3/target/
/g33-inheritance-exercise-3/*.iml
